@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@source "../node_modules/flowbite-react";


/* Estilos para el Escáner QR */
#reader {
  border: none !important;
}

#reader video {
  object-fit: cover;
  border-radius: 0.75rem; /* rounded-xl */
}

/* Ocultar elementos innecesarios de la librería */
#reader__dashboard_section_csr span, 
#reader__dashboard_section_swaplink {
  display: none !important;
}

/* Estilizar botones de permiso de la librería */
#reader button {
  background-color: #2563EB; /* blue-600 */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}