version: "3.9"

services:

  backend:
    build:
      context: ./server
    container_name: spring_backend
    ports:
      - "8080:8080"
    environment:
      - SERVER_SSL_ENABLED=false
      - ENV=production
    networks:
      - app-network

  frontend:
    build:
      context: ./client
    container_name: react_frontend
    ports:
      - "3000:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
